---
import { FaReact, FaNodeJs, FaDatabase, FaDigitalOcean, FaGithub } from "react-icons/fa/index.js";
import { FcLinux } from "react-icons/fc/index.js";
import { SiDotnet, SiJavascript, SiPython, SiCsharp, SiMongodb, SiTypescript, SiJirasoftware , SiJava, SiSpringboot} from "react-icons/si/index.js";
import Tech from "@components/general/Tech.astro";
import { EColors } from "@types";
---

<section>
  <h2 class="dark:text-white uppercase my-8">Tecnologías principales</h2>
  <div class="w-full flex gap-8 flex-wrap">
    <Tech name="React" color={EColors.react}>
      <FaReact size={64} />
    </Tech>
    <Tech name="NodeJS" color={EColors.node}>
      <FaNodeJs size={64} />
    </Tech>
    <Tech name="TypeScript" color={EColors.typescript}>
      <SiTypescript size={64} />
    </Tech>
    <Tech name="Python" color={EColors.python}>
      <SiPython size={64} />
    </Tech>
    <Tech name="Linux" color={EColors.dark}>
      <FcLinux size={64} />
    </Tech>
    <Tech name="JavaScript" color={EColors.javascript}>
      <SiJavascript size={64} />
    </Tech>
    <Tech name="SQL" color={EColors.typescript}>
      <FaDatabase size={64} />
    </Tech>
    <Tech name="MongoDB" color={EColors.mongodb}>
      <SiMongodb size={64} />
    </Tech>
    <Tech name="C#" color={EColors.csharp}>
      <SiCsharp size={64} />
    </Tech>

    <Tech name=".NET Core" color={EColors.dotnet}>
      <SiDotnet size={64} />
    </Tech>
    <Tech name="GitHub">
      <FaGithub size={64} color={EColors.dark}/>
    </Tech>
  </div>
  <h2 class="dark:text-white uppercase my-8">Tecnologías secundarias</h2>
  <div class="w-full flex gap-8 flex-wrap">
    <Tech name="Jira" color={EColors.tailwind}>
      <SiJirasoftware size={64} />
    </Tech>
    <Tech name="DigitalOcean" color={EColors.typescript}>
      <FaDigitalOcean size={64} />
    </Tech>
    <Tech name="Java" color={EColors.html}>
      <SiJava size={64} />
    </Tech>
    <Tech name="Spring Boot" color={EColors.mongodb}>
      <SiSpringboot size={64} />
    </Tech>


  </div>
</section>
